<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2a206f ;">
  <img src="https://image.ibb.co/f9kjuf/EVALogo.png" class="navbar-brand" alt="EVALogo" style="width: 15%;">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" routerLinkActive="active-link" routerLink="/login">
                <fa-icon [icon]="faHome" class="fa-2x"></fa-icon>
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active-link" routerLink="/reports">
                <fa-icon [icon]="faChartLine" class="fa-2x"></fa-icon>
                <strong> Reportes</strong>
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active-link" routerLink="/home">
                  <fa-icon [icon]="faVoteYea" class="fa-2x"></fa-icon>
                  <strong> Ir a Encuestas</strong>
                </a>
              </li>
      </ul>
      <ul class="navbar-nav">
          <li class="navbar-nav nav-item">
              <a class="nav-link" routerLinkActive="active-Link" routerLink="/login"><fa-icon [icon]="faSignInAlt"></fa-icon> Ingresar</a>
            </li>
          <li class="navbar-nav nav-item">
              <a class="nav-link" routerLinkActive="active-Link" routerLink="/login"><fa-icon [icon]="faSignOutAlt"></fa-icon> Salir</a>
            </li>
          <li class="nav-item">
              <a class="nav-link" routerLinkActive="active-link" routerLink="/">Acerca de</a>
          </li>
      </ul>
    </div>
</nav>