<!-- Nav bar para encuesta-->
<app-encuesta></app-encuesta>
<!-- Fomularios para encuesta Express-->
<mat-horizontal-stepper [linear]="isLinear" class="container col-6 mx-auto mt-5"> 
        <mat-step [stepControl]="firstFormGroup" class="justify-content-center">
           <form [formGroup]="firstFormGroup" class="text-center mx-auto">  
            <ng-template matStepLabel></ng-template> 
            <div class="card text-center mx-auto col-md-6"><strong>El tiempo que transcurrió para que lo atendieran fue:</strong></div><br> 
                <button type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="1"><fa-icon [icon]="faTired" class="fa-7x" style="color: red"></fa-icon>muy malo</button>
                <button type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="2"><fa-icon [icon]="faSadTear" class="fa-7x" style="color: orange"></fa-icon>malo</button>
                <button type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="3"><fa-icon [icon]="faMeh" class="fa-7x" style="color: rgb(206, 206, 12)"></fa-icon>regular</button>
                <button type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="4"><fa-icon [icon]="faGrin" class="fa-7x" style="color: yellowgreen"></fa-icon>bueno</button>
                <button type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="5"><fa-icon [icon]="faSmileBeam" class="fa-7x" style="color: green"></fa-icon>muy bueno</button>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" class="justify-content-center">
            <form [formGroup]="secondFormGroup" class="text-center mx-auto">
            <ng-template matStepLabel></ng-template>
            <div class="card text-center mx-auto"><strong>Durante la recepción, ¿Nuestro asesor le preguntó si su vehiculo requeía de algun servicio adicional a lo previamente solicitado?</strong></div><br>
                <button type="button" class="btn btn-outline-secondary mr-5" mat-button mat-raised-button matStepperNext matInput value="10"><fa-icon [icon]="faCheckSquare" class="fa-7x" style="color: green"></fa-icon></button>
                <button type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="5"><fa-icon [icon]="faTimesCircle" class="fa-7x" style="color: red"></fa-icon></button>
            </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup" class="justify-content-center">
            <form [formGroup]="thirdFormGroup" class="text-center mx-auto">
            <ng-template matStepLabel></ng-template>
            <div class="card text-center mx-auto col-md-5"><strong>Se cumpllió con la fecha promesa de entrega?</strong></div><br>
                <button type="button" class="btn btn-outline-secondary mr-5" mat-button mat-raised-button matStepperNext matInput value="10"><fa-icon [icon]="faCheckSquare" class="fa-7x" style="color: green"></fa-icon></button>
                <button type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="5"><fa-icon [icon]="faTimesCircle" class="fa-7x" style="color: red"></fa-icon></button>
       </form>
        </mat-step>
        <mat-step [stepControl]="fourthFormGroup" class="justify-content-center">
            <form [formGroup]="fourthFormGroup" class="text-center mx-auto">
            <ng-template matStepLabel></ng-template>
            <div class="card text-center mx-auto"><strong>¿Como calificaría la imagen de nuestras instalaciones?</strong></div><br>
                <button type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="1"><fa-icon [icon]="faTired" class="fa-7x" style="color: red"></fa-icon>muy malo</button>
                <button type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="2"><fa-icon [icon]="faSadTear" class="fa-7x" style="color: orange"></fa-icon>malo</button>
                <button type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="3"><fa-icon [icon]="faMeh" class="fa-7x" style="color: rgb(206, 206, 12)"></fa-icon>regular</button>
                <button type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="4"><fa-icon [icon]="faGrin" class="fa-7x" style="color: yellowgreen"></fa-icon>bueno</button>
                <button type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="5"><fa-icon [icon]="faSmileBeam" class="fa-7x" style="color: green"></fa-icon>muy bueno</button>
            </form> 
        </mat-step>
        <mat-step [stepControl]="fifthFormGroup" class="justify-content-center">
            <form [formGroup]="fifthFormGroup" class="text-center mx-auto">
            <ng-template matStepLabel></ng-template>
            <div class="card text-center mx-auto"><strong>La atención que recibío de nuestro asesor de servicio fue:</strong></div><br>
                <button type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="1"><fa-icon [icon]="faTired" class="fa-7x" style="color: red"></fa-icon>muy malo</button>
                <button type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="2"><fa-icon [icon]="faSadTear" class="fa-7x" style="color: orange"></fa-icon>malo</button>
                <button type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="3"><fa-icon [icon]="faMeh" class="fa-7x" style="color: rgb(206, 206, 12)"></fa-icon>regular</button>
                <button type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="4"><fa-icon [icon]="faGrin" class="fa-7x" style="color: yellowgreen"></fa-icon>bueno</button>
                <button type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="5"><fa-icon [icon]="faSmileBeam" class="fa-7x" style="color: green"></fa-icon>muy bueno</button>
            </form>
        </mat-step>
        <mat-step [stepControl]="sixFormGroup" class="justify-content-center">
            <form [formGroup]="sixFormGroup" class="text-center mx-auto">
            <ng-template matStepLabel></ng-template>
            <div class="card text-center mx-auto"><strong>Considera que la imagen de nuestro asesor de servicio es:</strong></div><br>
                <button type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="1"><fa-icon [icon]="faTired" class="fa-7x" style="color: red"></fa-icon>muy malo</button>
                <button type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="2"><fa-icon [icon]="faSadTear" class="fa-7x" style="color: orange"></fa-icon>malo</button>
                <button type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="3"><fa-icon [icon]="faMeh" class="fa-7x" style="color: rgb(206, 206, 12)"></fa-icon>regular</button>
                <button type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="4"><fa-icon [icon]="faGrin" class="fa-7x" style="color: yellowgreen"></fa-icon>bueno</button>
                <button type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="5"><fa-icon [icon]="faSmileBeam" class="fa-7x" style="color: green"></fa-icon>muy bueno</button>
         </form>
        </mat-step>
        <mat-step [stepControl]="sevenFormGroup" class="justify-content-center">
            <form [formGroup]="sevenFormGroup" class="text-center mx-auto">
            <ng-template matStepLabel></ng-template>
            <div class="card text-center mx-auto"><strong>Le entregaron su vehiculo:</strong></div><br>
                <button type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="10"><fa-icon [icon]="faSmileBeam" class="fa-7x" style="color: green"></fa-icon>limpio</button>
                <button type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="5"><fa-icon [icon]="faTired" class="fa-7x" style="color: red"></fa-icon>sucio</button>
            </form>
        </mat-step>
        <mat-step class="justify-content-center"> 
            <form class="text-center mx-auto">
            <ng-template matStepLabel></ng-template>
            <div class="card text-center mx-auto"><strong>La experiencia en general de su visita a Casanova fue?</strong></div><br>
                <button type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="1"><fa-icon [icon]="faTired" class="fa-7x" style="color: red"></fa-icon>muy malo</button>
                <button type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="2"><fa-icon [icon]="faSadTear" class="fa-7x" style="color: orange"></fa-icon>malo</button>
                <button type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="3"><fa-icon [icon]="faMeh" class="fa-7x" style="color: rgb(206, 206, 12)"></fa-icon>regular</button>
                <button type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="4"><fa-icon [icon]="faGrin" class="fa-7x" style="color: yellowgreen"></fa-icon>bueno</button>
                <button type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="5"><fa-icon [icon]="faSmileBeam" class="fa-7x" style="color: green"></fa-icon>muy bueno</button>
        </form> 
        </mat-step>
</mat-horizontal-stepper>