<app-encuesta></app-encuesta>
<div class="card text-white mb-3 mx-auto text-center mt-5" style="max-width: 20rem; background-color: #2a206f ;">
  <div class="card-header"><strong><fa-icon [icon]="faExclamationTriangle" class="fa-1x"></fa-icon> Error 404 <fa-icon [icon]="faExclamationTriangle" class="fa-1x"></fa-icon><br> PageNotFound</strong></div>
  <div class="card-body">
    <h4 class="card-title">Oooooopppssss!!</h4>
    <p class="card-text">Pagina no disponible o no encontrada</p>
    <a routerLinkActive="active-Link" routerLink="/home" class="btn-warning btn-lg mx-auto"><fa-icon [icon]="faHouseDamage" class="fa-1x"></fa-icon> Ir a la pagina principal</a>
  </div>
</div>

