<app-navbar></app-navbar>

<!-- Pagina de Bienvenida-->
<div class="card col-md-2 mt-3 text-white" style="background-color: #2a206f"><strong><h2>Bienvenid@:</h2></strong></div>

<!-- Resumen Encuestas-->
<div class="card border-success mt-3 mr-3 ml-3">
        <div class="card-header text-center text-white" style="background-color: #2a206f"><strong><h2>Resumen del Dia</h2></strong></div>
<div class="row">
    <div class="col-sm-6">
        <div class="card border-primary mt-3 mb-3">
            <div class="card-header text-center"><strong>Ultimas Encuestas</strong></div>
            <form *ngFor="let encuestaex of listadoEncuestaex | async"> 
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col"># de Reporte</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Sucursal</th>
                        <th scope="col">Calificacion</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-danger">
                        <th scope="row">{{encuestaex.id}}</th>
                        <td>{{encuestaex.fecha}}</td>
                        <td>La Viga</td>
                        <td>{{encuestaex.total}} / 55</td>
                    </tr>
                    </tbody>
                    <tbody>
                        <tr class="table-success">
                        <th scope="row">VI1234 </th>
                        <td>03/12/18 - 11:49</td>
                        <td>La viga</td>
                        <td>100/100</td>
                        </tr>
                        </tbody>
                    </table> 
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card mt-3">
                        <div class="card-header text-center text-white" style="background-color: #2a206f"><strong>Encuestas Contestadas</strong></div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-header bg-success text-white"><strong>Encuestas Realizadas</strong></div>
                                    <div class="card-body">
                                        {{contador}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-header bg-info text-white"><strong>Registros Ingresados</strong></div>
                                    <div class="card-body">
                                        {{contadorre}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card mt-3 ml-3 mr-3">
                        <div class="card-header text-center text-white" style="background-color: #2a206f"><strong>Promedio Calificacion Sucursal</strong></div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-header bg-warning text-white text-center"><strong>Promedio Actual</strong></div>
                                    <div class="card-body">
                                        Calif Sucursal
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-header bg-primary text-white text-center"><strong>Meta Actual</strong></div>
                                    <div class="card-body">
                                    Promesa Sucursal
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="card-footer text-muted text-left"><small>*Calificacion basada a 2 meses</small></div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="card-footer text-muted text-right">Ultima Actualizacion</div>
</div>

<!-- Resumen Preguntas-->
<div class="card border-success mt-3 mr-3 ml-3">
        <div class="card-header text-center text-white" style="background-color: #2a206f"><strong><h2>Resumen Preguntas</h2></strong></div>
<div class="row">
    <div class="col-sm-6">
        <div class="card border-primary mt-3 mb-3">
        <div class="card-header text-center"><strong>Ultimas Encuestas</strong></div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col"># de Reporte</th>
                        <th scope="col">Tipo de Servicio</th>
                        <th scope="col">P 1</th>
                        <th scope="col">P 2</th>
                        <th scope="col">P 3</th>
                        <th scope="col">P 4</th>
                        <th scope="col">P 5</th>
                        <th scope="col">P 6</th>
                        <th scope="col">P 7</th>
                        <th scope="col">P 8</th>
                        <th scope="col">P 9</th>
                        <th scope="col">P 10</th>
                        <th scope="col">Calif</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-danger">
                        <th scope="row">VI1234 </th>
                        <td>Express</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                    </tr>
                    </tbody>
                    <tbody>
                        <tr class="table-success">
                        <th scope="row">VI1235 </th>
                        <td>Express</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        </tr>
                        </tbody>
                    </table> 
                </div>
        </div>
    </div>
    <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card mt-3">
                        <div class="card-header text-center text-white" style="background-color: #2a206f"><strong>Resumen Preguntas</strong></div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-header bg-success text-white"><strong>Mejor Calificacion</strong></div>
                                    <div class="card-body">
                                        Promedio Mejor Pregunta
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-header bg-danger text-white"><strong>Peor Calificacion</strong></div>
                                    <div class="card-body">
                                        Promedio Peor Pregunta
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-muted text-left"><small>*Calificacion basada a 2 meses</small></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card mt-3 ml-3 mr-3">
                        <div class="card-header text-center text-white" style="background-color: #2a206f"><strong>Calificacion Servicios</strong></div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-header bg-success text-white text-center"><strong>Mejor Servicio</strong></div>
                                    <div class="card-body">
                                        Calif Mejor Servicio
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-header bg-danger text-white text-center"><strong>Servicio con problemas</strong></div>
                                    <div class="card-body">
                                        Calif Peor Servicio
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="card-footer text-muted text-left"><small>*Calificacion basada a 2 meses</small></div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="card-footer text-muted text-right">Ultima Actualizacion</div>
</div>