<div class="col-md-3 mx-auto mt-5">
                <form>
                    <div class="card bg-light mb-3" style="max-width: 20rem;">
                            <div class="card-header text-center">
                                <img class="card-img-top" src="https://image.ibb.co/dtvt3L/casanova-renta-de-autos-24.jpg" alt="casanova-renta-de-autos-24">
                            </div>
                        <div class="card-header text-center"><strong>Ingresa el numero de Orden</strong></div>
                        <div class="card-body form-group">
                            <input type="text" class="form-control text-center" placeholder="VI1345">
                        </div>
                        <a href="/type" class="btn btn-info text-center btn-block"><fa-icon [icon]="faVoteYea" class="fa-2x"></fa-icon> Encuesta</a>
                    </div>
                </form>
</div>
