<app-encuesta></app-encuesta>
<div class="col-md-3 mx-auto mt-5">
                <form>
                    <div class="card mb-3" style="max-width: 20rem;" style="background-color: #2a206f">  
                            <div class="card-header text-center">
                                <img class="card-img-top" src="https://image.ibb.co/f9kjuf/EVALogo.png" alt="casanova-renta-de-autos-24">
                            </div>
                        <div class="card-header text-center text-white"><h5><strong>Ingresa el numero de Orden</strong></h5></div>
                        <div class="card-body form-group">
                            <input type="text" class="form-control text-center" placeholder="VI1345">
                        </div>
                        <a type="" href="/type" class="btn btn-warning text-center btn-block"><fa-icon [icon]="faVoteYea" class="fa-2x"></fa-icon><h4>Encuesta</h4></a>
                    </div>
                </form>
</div>
