<!-- NAVBAR admin-->
<app-navbar></app-navbar>
 
<!-- Contenido -->
<div class="card col-md-2 mt-3 ml-1 text-white text-center form-inline" style="background-color: #1a3263"><fa-icon [icon]="faCarCrash" class="fa-2x"></fa-icon><strong><h2>SEVS - Taller</h2></strong></div>

    <!-- Llenado rapido-->
<div class="card col-md-2 mt-3 ml-1 text-white text-center form-inline" style="background-color: #1a3263"><strong><h2>Llenado rapido</h2></strong></div>
<div class="card col-md-6 offset-md-3 mt-2">
  <form #formGuardar="ngForm" (ngSubmit)="onEncuesta(formGuardar)">
        <div class="form-group">
          <h4><strong>Folio:</strong></h4>
          <input type="text" class="form-control text-center" pattern="[A-Z]*" style="text-transform: uppercase; font-size: 1rem " name="id" [(ngModel)]="idenc" #FolioEncuesta="ngModel" id="FolioEncuesta" aria-describedby="FolioEncuesta" placeholder="VI1234">
        </div>
        <h4><strong>Tipo de Servicio:</strong></h4><br>
        <div class="text-center">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="tipo" id="OptionExpress1" [(ngModel)]="opcion" #OptionExpress1="ngModel" value="express">
                <label class="form-check-label" for="OptionExpress1" style="font-size: 1rem"><fa-icon [icon]="faShippingFast"></fa-icon><strong> Express</strong></label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="tipo" id="OptionReparacion1" [(ngModel)]="opcion" #OptionReparacion1="ngModel" value="reparacion">
                <label class="form-check-label" for="OptionReparacion1" style="font-size: 1rem"><fa-icon [icon]="faCarCrash"></fa-icon><strong> Reparación</strong></label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="tipo" id="OptionTramite1" [(ngModel)]="opcion" #OptionTramite1="ngModel" value="tramite">
                <label class="form-check-label" for="OptionTramite1" style="font-size: 1rem"><fa-icon [icon]="faNotesMedical"></fa-icon><strong> Tramite</strong></label>
              </div>
        </div>
          <hr>
        <button type="submit" class="btn btn-primary btn-block mb-2" style="font-size: 1rem" value="Guardar"><strong>Ingresar</strong></button>
      </form>
</div>

    <!-- Llenado completo -->
<div class="card col-md-2 mt-3 ml-1 text-white text-center form-inline" style="background-color: #1a3263"><strong><h2>Llenado completo</h2></strong></div>
<div class="card col-md-6 offset-md-3 mt-2">
  <form #formGuardar="ngForm" (ngSubmit)="onGuardar(formGuardar)">
        <div class="form-group mt-3">
          <h4><strong>Folio:</strong></h4>
          <input type="text" class="form-control text-center" style="font-size: 1rem" id="FolioEncuesta" aria-describedby="FolioEncuesta" placeholder="VI1234">
        </div>
        <h4><strong>Tipo de Servicio:</strong></h4><br>
        <div class="text-center">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionExpress" value="option1" (click)="Option('express')">
                <label class="form-check-label" for="OptionExpress" style="font-size: 1rem"><fa-icon [icon]="faShippingFast"></fa-icon><strong> Express</strong></label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionReparacion" value="option2" (click)="Option('reparacion')">
                <label class="form-check-label" for="OptionReparacion" style="font-size: 1rem"><fa-icon [icon]="faCarCrash"></fa-icon><strong> Reparación</strong></label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionTramite" value="option3" (click)="Option('tramite')">
                <label class="form-check-label" for="OptionTramite" style="font-size: 1rem"><fa-icon [icon]="faNotesMedical"></fa-icon><strong> Tramite</strong></label>
              </div>
        </div>
<!-- fomrmulario de Servicio -->
        <h4><strong>Datos del servicio:</strong></h4><hr>
        <!-- Express -->
        <div class="card" >
            <div class="card-header">
                <h4><fa-icon [icon]="faShippingFast"></fa-icon><strong>Express</strong></h4>
            </div>
            <div class="card-body text-center">
              <h5><strong>Vehiculo</strong></h5> <!-- Vehiculo -->
              <hr>
              <div class="form-row ">
                <div class="col-auto mx-auto">
                  <label class="sr-only" for="inlineFormInputGroup">Placa</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><fa-icon [icon]="faFileInvoice"></fa-icon></div>
                      </div>
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="PLACA" name="placa" [(ngModel)]="placa" #placas="ngModel"> 
                  </div>
                  <label class="sr-only" for="inlineFormInputGroup">Vehiculo</label>
                  <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><fa-icon [icon]="faCar"></fa-icon></div>
                      </div>
                      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="VEHICULO" name="vehiculo" [(ngModel)]="vehiculo" #vehiculos="ngModel">
                    </div>
                </div>
                <div class="col-auto mx-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Marca</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><fa-icon [icon]="faBrand"></fa-icon></div>
                        </div>
                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="MARCA" name="marca" [(ngModel)]="marca" #marcas="ngModel">
                      </div>
                      <label class="sr-only" for="inlineFormInputGroup">Combustible</label>
                      <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text"><fa-icon [icon]="faGas"></fa-icon></div>
                          </div>
                          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="COMBUSTIBLE" name="combustible" [(ngModel)]="combustible" #combustibles="ngModel">
                        </div>
                  </div>
                    <div class="col-auto mx-auto">
                        <label class="sr-only" for="inlineFormInputGroup">Serie</label>
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text"><fa-icon [icon]="faSerial"></fa-icon></div>
                          </div>
                          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="# SERIE" name="numserie" [(ngModel)]="numserie" #numseries="ngModel">
                        </div>
                        <label class="sr-only" for="inlineFormInputGroup">Kilometraje</label>
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text"><fa-icon [icon]="faKm"></fa-icon></div>
                          </div>
                          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="KILOMETRAJE" name="kilometraje" [(ngModel)]="kilometraje" #kilometrajes="ngModel">
                        </div>
                        <label class="sr-only" for="inlineFormInputGroup">Año</label>
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text"><fa-icon [icon]="faKm"></fa-icon></div>
                          </div>
                          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Año" name="año" [(ngModel)]="anio" #anios="ngModel">
                        </div>

 
                      </div>
              </div>
              <h5><strong>Taller</strong></h5>
              <hr>
              <div class="form-row ">
                  <div class="col-auto mx-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Entrada</label>
                      <div class="input-group mb-2">
                          <label>Fecha Entrada</label>
                        <div class="input-group-prepend">
                          <div class="input-group-text"><fa-icon [icon]="faFileInvoice"></fa-icon></div>
                        </div>
                        
                      <input type="date" class="form-control" id="inlineFormInputGroup" placeholder="Fecha Entrada" name="fechaent" [(ngModel)]="fechaent" #fechaents="ngModel">
                    </div>
                    <label class="sr-only" for="inlineFormInputGroup">Salida</label>
                    <div class="input-group mb-2">
                        <label>Fecha Salida</label>
                        <div class="input-group-prepend">
                          <div class="input-group-text"><fa-icon [icon]="faCar"></fa-icon></div>
                        </div>
                        
                        <input type="date" class="form-control" id="inlineFormInputGroup" placeholder="Fecha Salida" name="fechasal" [(ngModel)]="fechasal" #fechasals="ngModel">
                      </div>
                      
                  </div>
                  
                  <div class="col-auto mx-auto">
                      <p class="" for="inlineFormInputGroup"><strong>Tarjeta de Circulación</strong></p><hr>
                      <div class="text-center">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionSiTC" value="si" [(ngModel)]="tarjetac" #tarjetacs="ngModel">
                            <label class="form-check-label" for="OptionSiTC" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionNoTC" value="no" [(ngModel)]="tarjetac" #tarjetacs="ngModel">
                            <label class="form-check-label" for="OptionNoTC" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                          </div>
                      </div>
                      <p class="mt-3" for="inlineFormInputGroup"><strong>Antena</strong></p><hr>
                      <div class="text-center">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionSiA" value="si" [(ngModel)]="antena" #antenas="ngModel">>
                            <label class="form-check-label" for="OptionSiL" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionNoA" value="no" [(ngModel)]="antena" #antenas="ngModel">>
                            <label class="form-check-label" for="OptionNoL" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                          </div>
                      </div>
                      <p class="mt-3" for="inlineFormInputGroup"><strong>Control y Llave</strong></p><hr>
                      <div class="text-center">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionSiL" value="option1L">
                            <label class="form-check-label" for="OptionSiL" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionNoL" value="option2L">
                            <label class="form-check-label" for="OptionNoL" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                          </div>
                      </div>
                      <p class="mt-3" for="inlineFormInputGroup"><strong>Llaves de tuercas</strong></p><hr>
                          <div class="text-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionSiGTO" value="option1GTO">
                                <label class="form-check-label" for="OptionSiGTO" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionNoGTO" value="option2GTO">
                                <label class="form-check-label" for="OptionNoGTO" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                              </div>
                          </div>
                          <p class="mt-3" for="inlineFormInputGroup"><strong>Kit de Herramientas</strong></p><hr>
                          <div class="text-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionSiGTO" value="option1GTO">
                                <label class="form-check-label" for="OptionSiGTO" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionNoGTO" value="option2GTO">
                                <label class="form-check-label" for="OptionNoGTO" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                              </div>
                          </div>
                      <p class="mt-3" for="inlineFormInputGroup"><strong>Placas</strong></p><hr>
                      <div class="text-center">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionSiL" value="option1L">
                            <label class="form-check-label" for="OptionSiL" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionNoL" value="option2L">
                            <label class="form-check-label" for="OptionNoL" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                          </div>
                      </div>
                    </div>
                      <div class="col-auto mx-auto">
                          <p class="" for="inlineFormInputGroup"><strong>Llantas</strong></p><hr>
                          <div class="text-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionSiLL" value="option1LL">
                                <label class="form-check-label" for="OptionSiLL" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionNoLL" value="option2LL">
                                <label class="form-check-label" for="OptionNoLL" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                              </div>
                          </div>
                          <p class="mt-3" for="inlineFormInputGroup"><strong>LLanta Refaccion</strong></p><hr>
                          <div class="text-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionSiGTO" value="option1GTO">
                                <label class="form-check-label" for="OptionSiGTO" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionNoGTO" value="option2GTO">
                                <label class="form-check-label" for="OptionNoGTO" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                              </div>
                          </div>
                          <p class="mt-3" for="inlineFormInputGroup"><strong>Gato</strong></p><hr>
                          <div class="text-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionSiGTO" value="option1GTO">
                                <label class="form-check-label" for="OptionSiGTO" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionNoGTO" value="option2GTO">
                                <label class="form-check-label" for="OptionNoGTO" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                              </div>
                          </div>
                          <p class="mt-3" for="inlineFormInputGroup"><strong>Tapon de Llanta</strong></p><hr>
                          <div class="text-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionSiLL" value="option1LL">
                                <label class="form-check-label" for="OptionSiLL" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionNoLL" value="option2LL">
                                <label class="form-check-label" for="OptionNoLL" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                              </div>
                          </div>
                          <p class="mt-3" for="inlineFormInputGroup"><strong>Seguro de ruedas</strong></p><hr>
                          <div class="text-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionSiGTO" value="option1GTO">
                                <label class="form-check-label" for="OptionSiGTO" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionNoGTO" value="option2GTO">
                                <label class="form-check-label" for="OptionNoGTO" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                              </div>
                          </div>
                          <p class="mt-3" for="inlineFormInputGroup"><strong>Tapon Gasolina</strong></p><hr>
                      <div class="text-center">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionSiL" value="option1L">
                            <label class="form-check-label" for="OptionSiL" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionNoL" value="option2L">
                            <label class="form-check-label" for="OptionNoL" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                          </div>
                      </div>
                        </div>
                        <div class="col-auto mx-auto">
                            <p class="" for="inlineFormInputGroup"><strong>Traé orden de servicio</strong></p><hr>
                            <div class="text-center">
                              <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionSiSERV" value="option1SERV">
                                  <label class="form-check-label" for="OptionSiSERV" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionNoSERV" value="option2SERV">
                                  <label class="form-check-label" for="OptionNoSERV" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                                </div>
                            </div>
                            <p class="mt-3" for="inlineFormInputGroup"><strong>Vestiduras</strong></p><hr>
                            <div class="text-center">
                              <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionSiL" value="option1L">
                                  <label class="form-check-label" for="OptionSiL" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionNoL" value="option2L">
                                  <label class="form-check-label" for="OptionNoL" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                                </div>
                            </div>
                            <p class="mt-3" for="inlineFormInputGroup"><strong>Tapetes</strong></p><hr>
                            <div class="text-center">
                              <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionSiL" value="option1L">
                                  <label class="form-check-label" for="OptionSiL" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionNoL" value="option2L">
                                  <label class="form-check-label" for="OptionNoL" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                                </div>
                            </div>
                            <p class="mt-3" for="inlineFormInputGroup"><strong>Extintor</strong></p><hr>
                          <div class="text-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionSiGTO" value="option1GTO">
                                <label class="form-check-label" for="OptionSiGTO" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionNoGTO" value="option2GTO">
                                <label class="form-check-label" for="OptionNoGTO" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                              </div>
                          </div>
                          <p class="mt-3" for="inlineFormInputGroup"><strong>Señales</strong></p><hr>
                          <div class="text-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionSiGTO" value="option1GTO">
                                <label class="form-check-label" for="OptionSiGTO" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionNoGTO" value="option2GTO">
                                <label class="form-check-label" for="OptionNoGTO" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                              </div>
                          </div>
                            <p class="mt-3" for="inlineFormInputGroup"><strong>Radio </strong></p><hr>
                            <div class="text-center">
                              <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionSiL" value="option1L">
                                  <label class="form-check-label" for="OptionSiL" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionNoL" value="option2L">
                                  <label class="form-check-label" for="OptionNoL" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                                </div>
                            </div>
                            <hr>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                  <div class="input-group-text"><fa-icon [icon]="faUser"></fa-icon></div>
                                </div>
                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Administrador de Flota">
                              </div>
                          </div>
                          <div class="input-group mb-2">
                            <div class="input-group-prepend">
                              <div class="input-group-text"><fa-icon [icon]="faUser"></fa-icon></div>
                            </div>
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Asesor">
                          </div>
                          <div class="input-group mb-2">
                              <div class="input-group-prepend">
                                <div class="input-group-text"><fa-icon [icon]="faUser"></fa-icon></div>
                              </div>
                              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Solicitud de Diagnostico">
                            </div>
                            <div class="input-group mb-2">
                              <div class="input-group-prepend">
                                <div class="input-group-text"><fa-icon [icon]="faUser"></fa-icon></div>
                              </div>
                              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Trabajo Solicitado">
                            </div>
                            <div class="input-group mb-2">
                              <div class="input-group-prepend">
                                <div class="input-group-text"><fa-icon [icon]="faUser"></fa-icon></div>
                              </div>
                              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Trabajo Realizado">
                            </div>
                            <div class="input-group mb-2">
                              <div class="input-group-prepend">
                                <div class="input-group-text"><fa-icon [icon]="faUser"></fa-icon></div>
                              </div>
                              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Estatus">
                            </div>
                            <div class="input-group mb-2">
                              <div class="input-group-prepend">
                                <div class="input-group-text"><fa-icon [icon]="faUser"></fa-icon></div>
                              </div>
                              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Tecnico">
                            </div>
                </div>
            </div>
        </div>
        <!-- Reparación -->
        <div class="card" *ngIf="opt2">
          <div class="card-header">
              <h4><fa-icon [icon]="faCarCrash"></fa-icon><strong>Reparación</strong></h4>
          </div>
        </div>
        <!-- Tramites -->
        <div class="card" *ngIf="opt3">
            <div class="card-header">
                <h4><fa-icon [icon]="faNotesMedical"></fa-icon><strong>Tramites</strong></h4>
            </div>
        </div>
<!-- Datos del Cliente -->
        <br>
        <h4><strong>Datos del cliente:</strong></h4><hr>
        <form>
        <div class="form-group">
          <label for="NombreCliente" style="font-size: 1rem"><strong>Nombre: </strong></label><br>
          <input type="text" class="form-control text-center" style="font-size: 1rem" id="NombreCliente" aria-describedby="NombreCliente" placeholder="Juan Perez Sanchez">
          <hr>
              <div class="form-row ">
                  <div class="col-auto mx-auto">
                      <label class="sr-only" for="inlineFormInputGroup">Correo Electronico</label>
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><fa-icon [icon]="faEnvelope"></fa-icon></div>
                        </div>
                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="nombre@correo.com">
                      </div>
                    </div>
                <div class="col-auto mx-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Telefono</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><fa-icon [icon]="faMobileAlt"></fa-icon></div>
                      </div>
                      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="55-1234-5678">
                    </div>
                  </div>
                  <div class="col-auto mx-auto">
                      <label class="sr-only" for="inlineFormInputGroup">Cliente</label>
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><fa-icon [icon]="faMobileAlt"></fa-icon></div>
                        </div>
                        <select name="proveedor" class="form-control" placeholder="Cliente" [(ngModel)]="Cliente" #cliente="ngModel" >
                            <option>CFE Integra</option>
                            <option>CFE VIga</option>
                            <option>Centenario</option>
                            <option>Patriotismo</option>
                            <option>Coacalco</option>
                            <option>CFE Integra</option>
                        </select>
                      </div>
                    </div>
              </div>
        </div>
      </form>
        <hr>
<!-- Envio formulario Llenado completo-->
        <button type="submit" class="btn btn-primary btn-block mb-2" style="font-size: 1rem" value="Guardar"><strong>Ingresar</strong></button>
      </form>
    </div>

<!-- Footer -->
<app-footer></app-footer>