<!-- NAVBAR admin-->
<app-navbar></app-navbar>
 
<!-- Contenido -->
<div class="card col-md-2 mt-3 ml-1 text-white text-center form-inline" style="background-color: #1a3263"><fa-icon [icon]="faCarCrash" class="fa-2x"></fa-icon><strong><h2>SEVS - Taller</h2></strong></div>
<div class="row">
  <!-- Llenado rápido-->
  <div class="col-md-4">
    <div class="card col-md-4 mt-3 ml-1 text-white text-center form-inline" style="background-color: #1a3263"><strong><h2>Llenado rápido</h2></strong></div>
    <div class="card col-md-11 mx-auto mt-2">
      <form #formGuardar="ngForm" (ngSubmit)="onEncuesta(formGuardar)">
        <div class="form-group">
          <br>
          <h4><strong>Folio:</strong></h4>
          <div class="col-md-5 mx-auto">
            <input type="text" class="form-control text-center" pattern="[A-Z]*" style="text-transform: uppercase; font-size: 1rem " name="id" [(ngModel)]="idenc" #FolioEncuesta="ngModel" id="FolioEncuesta" aria-describedby="FolioEncuesta" placeholder="VI1234">
          </div>
        </div>
        <hr style="background-color: black">
        <h4><strong>Tipo de Servicio:</strong></h4><br>
        <div class="text-center">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="tipo" id="OptionExpress1" [(ngModel)]="opcion" #OptionExpress1="ngModel" value="express">
              <label class="form-check-label" for="OptionExpress1" style="font-size: 1rem"><fa-icon [icon]="faShippingFast" class="fa-2x"></fa-icon><strong> Express</strong></label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="tipo" id="OptionReparacion1" [(ngModel)]="opcion" #OptionReparacion1="ngModel" value="reparación">
              <label class="form-check-label" for="OptionReparacion1" style="font-size: 1rem"><fa-icon [icon]="faCarCrash" class="fa-2x"></fa-icon><strong> Reparación</strong></label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="tipo" id="OptionTramite1" [(ngModel)]="opcion" #OptionTramite1="ngModel" value="trámite">
              <label class="form-check-label" for="OptionTramite1" style="font-size: 1rem"><fa-icon [icon]="faNotesMedical" class="fa-2x"></fa-icon><strong> Trámite</strong></label>
            </div>
        </div>
        <hr style="background-color: black">
        <button type="submit" class="btn btn-primary btn-lg btn-block mb-2" style="font-size: 1rem" value="Guardar" ><strong>Ingresar</strong></button>
      </form>
    </div><br>
      <button type="button" class="btn btn-primary btn-lg btn-block" style="font-size: 1rem" [routerLink]="['/dashboardt']" routerLinkActive="router-link-active" ><strong>Consultar Reportes</strong></button>
      <button type="button" class="btn btn-primary btn-lg btn-block" style="font-size: 1rem" (click)="Window()"><strong> Actualizar clientes/administradores/mecánicos</strong></button>
  </div>
  <!-- Llenado completo -->
  <div class="col-md-8">
    <div class="card col-md-12 mt-3 text-white text-center form-inline" style="background-color: #1a3263"><strong><h2>Llenado completo</h2></strong></div>
    <div class="card col-md-12 mt-2">
      <form #2formGuardar="ngForm" (ngSubmit)="onGuardar(formGuardar)">
        <!-- Folio -->
        <div class="row">
          <div class="col-md-4">
              <div class="form-group mt-3">
                <div class="card" style="border: transparent">
                    <h4><strong>Folio:</strong></h4>
                    <hr style="background-color: black">
                    <input type="text" class="form-control text-center" style="text-transform: uppercase; font-size: 1rem" id="FolioEncuesta" name="id" [(ngModel)]="indenc2" #FolioEncuestas="ngModel" aria-describedby="FolioEncuesta" placeholder="VI1234">
                </div>
              </div>
              <br>
              <br>
              <h4><strong>Administrativos: </strong></h4>
              <hr style="background-color: black">
              <div class="form-group">
                  <label><strong>Administrador de Flota:</strong></label><br>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text" style="color: #f7b633; background-color: #1a3263"><fa-icon [icon]="faUser"></fa-icon></div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Administrador de Flota" name="Administrador" [(ngModel)]="admonflota" #AdmonFlot="ngModel">
                  </div>
                  <label><strong>Asesor:</strong></label><br>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text" style="color: #f7b633; background-color: #1a3263"><fa-icon [icon]="faUser"></fa-icon></div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Asesor" name="Asesor" [(ngModel)]="asesor" #Asesores="ngModel">
                  </div>
              </div>
          </div>
          <!-- Vehiculo -->
          <div class="col-md-8">
            <div class="form-group mt-3">
              <div class="card" style="border: transparent">
                  <h4><strong>Datos del Vehículo:</strong></h4>
                  <hr style="background-color: black">
                  <div class="row text-center">
                      <div class="col-md-4 mx-auto">
                        <!-- Numero de Placa -->
                        <label class="sr-only" for="inlineFormInputGroup">Placa</label>
                        <div class="form-group">
                          <div class="input-group mb-2">
                            <div class="input-group-prepend">
                              <div class="input-group-text" style="color: #f7b633; background-color: #1a3263"><fa-icon [icon]="faFileInvoice"></fa-icon></div>
                            </div>
                            <input type="text" class="form-control" id="inlineFormInputGroup" style="text-transform: uppercase" placeholder="PLACA" name="placa" [(ngModel)]="placa" #placas="ngModel"> 
                          </div>
                        </div>
                        <!-- Tipo de Vehiculo -->
                        <label class="sr-only" for="inlineFormInputGroup">Vehículo</label>
                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                  <div class="input-group-text" style="color: #f7b633; background-color: #1a3263"><fa-icon [icon]="faCar"></fa-icon></div>
                                </div>
                                <input type="text" class="form-control" style="text-transform: uppercase" id="inlineFormInputGroup" placeholder="VEHICULO" name="vehiculo" [(ngModel)]="vehiculo" #vehiculos="ngModel">
                            </div>
                        </div>
                      </div>
                      <div class="col-md-4 mx-auto">
                        <!-- Marca del Vehiculo -->
                          <label class="sr-only" for="inlineFormInputGroup">Marca</label>
                          <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                  <div class="input-group-text" style="color: #f7b633; background-color: #1a3263"><fa-icon [icon]="faBrand"></fa-icon></div>
                                </div>
                                <input type="text" class="form-control" style="text-transform: uppercase" id="inlineFormInputGroup" placeholder="MARCA" name="marca" [(ngModel)]="marca" #marcas="ngModel">
                            </div>
                          </div>
                        <!-- Combustible -->
                          <label class="sr-only" for="inlineFormInputGroup">Combustible</label>
                          <div class="form-group">
                            <div class="input-group mb-2">
                              <div class="input-group-prepend">
                                <div class="input-group-text" style="color: #f7b633; background-color: #1a3263"><fa-icon [icon]="faGas"></fa-icon></div>
                              </div>
                              <select  class="form-control" id="inlineFormInputGroup"  placeholder="COMBUSTIBLE" name="combustible" [(ngModel)]="combustible" #combustibles="ngModel" >
                                <option>8/8</option>
                                <option>7/8</option>
                                <option>6/8</option>
                                <option>5/8</option>
                                <option>4/8</option>
                                <option>3/8</option>
                                <option>2/8</option>
                                <option>1/8</option>
                              </select>
                            </div>
                          </div>
                      </div>
                      <div class="col-md-4 mx-auto">
                        <!-- # serie -->
                        <label class="sr-only" for="inlineFormInputGroup">Serie</label>
                        <div class="form-group">
                          <div class="input-group mb-2">
                            <div class="input-group-prepend">
                              <div class="input-group-text" style="color: #f7b633; background-color: #1a3263"><fa-icon [icon]="faSerial"></fa-icon></div>
                            </div>
                            <input type="text" class="form-control" id="inlineFormInputGroup" style="text-transform: uppercase" placeholder="# SERIE" name="numserie" [(ngModel)]="numserie" #numseries="ngModel">
                          </div>
                        </div>
                        <!-- Kilometraje -->
                        <label class="sr-only" for="inlineFormInputGroup">Kilometraje</label>
                        <div class="form-group">
                          <div class="input-group mb-2">
                            <div class="input-group-prepend">
                              <div class="input-group-text" style="color: #f7b633; background-color: #1a3263"><fa-icon [icon]="faKm"></fa-icon></div>
                            </div>
                            <input type="number" class="form-control" id="inlineFormInputGroup" placeholder="KILOMETRAJE" name="kilometraje" [(ngModel)]="kilometraje" #kilometrajes="ngModel">
                          </div>
                        </div>
                        <!-- Año del Modelo-->
                        <label class="sr-only" for="inlineFormInputGroup">Año</label>
                        <div class="form-group">
                          <div class="input-group mb-2">
                              <div class="input-group-prepend">
                                <div class="input-group-text" style="color: #f7b633; background-color: #1a3263"><fa-icon [icon]="faKm"></fa-icon></div>
                              </div>
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Año" name="año" [(ngModel)]="anio" #anios="ngModel">
                          </div>
                        </div>   
                      </div>
                  </div>
              </div>
              <div class="card" style="border: transparent">
                <h4><strong>Datos del cliente:</strong></h4>
                <hr style="background-color: black">
                <div class="form-group">
                  <label for="NombreCliente" style="font-size: 1rem"><strong>Nombre: </strong></label><br>
                  <input type="text" class="form-control text-center" style="font-size: 1rem" id="NombreCliente" aria-describedby="NombreCliente"  name="NombreCliente" placeholder="Juan Perez Sanchez" [(ngModel)]="nocliente" #nombrecliente="ngModel">
                  <hr>
                    <div class="form-row ">
                      <div class="col-auto mx-auto">
                        <label for="inlineFormInputGroup"><strong>Correo Electrónico: </strong></label>
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text" style="color: #f7b633; background-color: #1a3263"><fa-icon [icon]="faEnvelope" ></fa-icon></div>
                          </div>
                          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="nombre@correo.com" name="CorreoCliente" [(ngModel)]="ccliente" #correocliente="ngModel">
                        </div>
                      </div>
                      <div class="col-auto mx-auto">
                        <label for="inlineFormInputGroup"><strong>Teléfono: </strong></label>
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text" style="color: #f7b633; background-color: #1a3263"><fa-icon [icon]="faMobileAlt"></fa-icon></div>
                          </div>
                          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="55-1234-5678" name="NumeroCliente" [(ngModel)]="nucliente" #numerocliente="ngModel">
                        </div>
                      </div>
                      <div class="col-auto mx-auto">
                        <label for="inlineFormInputGroup"><strong>Origen Cliente: </strong></label>
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text" style="color: #f7b633; background-color: #1a3263"><fa-icon [icon]="faUserCheck"></fa-icon></div>
                          </div>
                          <select  class="form-control" placeholder="Cliente" name="cliente" [(ngModel)]="cliente" #Cliente="ngModel" >
                            <option>CFE Integra</option>
                            <option>CFE Viga</option>
                            <option>Centenario</option>
                            <option>Patriotismo</option>
                            <option>Coacalco</option>
                            <option>CFE Integra</option>
                          </select>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <!-- Formulario de Servicio -->
    <div class="col-md-12">
        <h4><strong>Taller:</strong></h4>
        <hr style="background-color: black">
        <div class="card" style="border: transparent">
          <div class="row">
            <div class="col-md-3 mx-auto">
              <!-- Fecha de Entrada -->
              <div class="form-group">
                <label><strong>Fecha Entrada</strong></label><br>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text" style="color: #f7b633; background-color: #1a3263"><fa-icon [icon]="faFileInvoice"></fa-icon></div>
                  </div>
                <input type="date" data-date-format="DD MMMM YYYY"  class="form-control text-center " id="inlineFormInputGroup" placeholder="Fecha Entrada" name="fechaentrada" [(ngModel)]="fechaent" #fechaents="ngModel">
                </div>
              </div>
              <!-- Fecha de Salida -->
              <div class="form-group">
                <label><strong>Fecha Salida</strong></label><br>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text" style="color: #f7b633; background-color: #1a3263"><fa-icon [icon]="faCar"></fa-icon></div>
                  </div>
                  <input type="date"  data-date-format="DD MMMM YYYY" class="form-control text-center" id="inlineFormInputGroup" placeholder="Fecha Salida" name="fechasalida" [(ngModel)]="fechasal" #fechasals="ngModel">
                </div>
              </div>
              <!-- Solicitud de Diagnostico-->
              <div class="form-group">
                <label><strong>Solicitud de Diagnóstico</strong></label><br>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text" style="color: #f7b633; background-color: #1a3263"><fa-icon [icon]="faNotesMedical" ></fa-icon></div>
                  </div>
                  <input type="text" class="form-control" id="inlineFormInputGroup" name="Diagnostico" [(ngModel)]="Diagnostico" #diagnosticos="ngModel">
                </div>
              </div>
              <!-- Trabajo solicitado-->
              <div class="form-group">
                <label><strong>Trabajo Solicitado</strong></label><br>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text" style="color: #f7b633; background-color: #1a3263"><fa-icon [icon]="faShippingFast" ></fa-icon></div>
                  </div>
                  <input type="text" class="form-control" id="inlineFormInputGroup" name="solicitud" [(ngModel)]="solicitud" #tsolicitado="ngModel">
                </div>
              </div>
              <!-- Trabajo Realizado-->
              <div class="form-group">
                <label><strong>Trabajo Realizado</strong></label><br>                
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text" style="color: #f7b633; background-color: #1a3263"><fa-icon [icon]="faCarCrash" ></fa-icon></div>
                  </div>
                  <input type="text" class="form-control" id="inlineFormInputGroup" name="Trabajorealizado" [(ngModel)]="trabajorea" #realizado="ngModel">
                </div>
              </div>
              <!-- Estatus -->
              <div class="form-group">
                <label><strong>Estatus</strong></label><br>                
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text" style="color: #f7b633; background-color: #1a3263"><fa-icon [icon]="faFileInvoice" ></fa-icon></div>
                  </div>
                  <select  class="form-control" id="inlineFormInputGroup"  placeholder="Estatus" name="Estatus" [(ngModel)]="estatus" #estat="ngModel" >
                    <option>En Proceso</option>
                    <option>Terminado</option>
                  </select>
                </div>
              </div>
              <!-- Técnico -->
              <div class="form-group">
                <label><strong>Técnico</strong></label><br>                
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text" style="color: #f7b633; background-color: #1a3263"><fa-icon [icon]="faUser" ></fa-icon></div>
                  </div>
                  <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Tecnico" name="Tecnico" [(ngModel)]="tecnico" #tecn="ngModel">
                </div>
              </div>
            </div>
            <!-- Combo checks -->
              <!-- Segunda Columna -->
            <div class="col-md-3 mx-auto">
              <!-- Tarjeta de Circulacion -->
              <label class="" for="inlineFormInputGroup"><strong>Tarjeta de Circulación</strong></label>
              <div class="form-group text-center">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="tarjetacirculacion" id="OptionSiTC" value="Si" [(ngModel)]="tarjetac" #tarjetacs="ngModel">
                    <label class="form-check-label" for="OptionSiTC" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="tarjetacirculacion" id="OptionNoTC" value="No" [(ngModel)]="tarjetac" #tarjetacs="ngModel">
                    <label class="form-check-label" for="OptionNoTC" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                  </div>
              </div>
              <hr style="background-color: #f7b633">
              <!-- Antena -->
              <label class="mt-3" for="inlineFormInputGroup"><strong>Antena</strong></label>
              <div class="form-group text-center">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="antena" id="OptionSiA" value="Si" [(ngModel)]="antena" #antenas="ngModel">
                    <label class="form-check-label" for="OptionSiA" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="antena" id="OptionNoA" value="No" [(ngModel)]="antena" #antenas="ngModel">
                    <label class="form-check-label" for="OptionNoA" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                  </div>
              </div>
              <hr style="background-color: #f7b633">
              <!-- Control y Llave-->
              <label class="mt-3" for="inlineFormInputGroup"><strong>Control y Llave</strong></label>
              <div class="form-group text-center">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="controlyllave" id="OptionSiLL" value="Si" [(ngModel)]="controlllave" #ctrlylls="ngModel">
                    <label class="form-check-label" for="OptionSiLL" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="controlyllave" id="OptionNoL" value="No" [(ngModel)]="controlllave" #ctrlylls="ngModel">
                    <label class="form-check-label" for="OptionNoLL" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                  </div>
              </div>
              <hr style="background-color: #f7b633">
              <!-- LLave de Tuercas -->
              <label class="mt-3" for="inlineFormInputGroup"><strong>Llaves de tuercas</strong></label>
              <div class="form-group text-center">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="llavedetuercas" id="OptionSiTRC" value="Si" [(ngModel)]="llavetuerc" #lltrcs="ngModel">
                  <label class="form-check-label" for="OptionSiTRC" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="llavedetuercas" id="OptionNoTRC" value="No" [(ngModel)]="llavetuerc" #lltrcs="ngModel">
                  <label class="form-check-label" for="OptionNoTRC" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                </div>
              </div>
              <hr style="background-color: #f7b633">
              <!-- Kit de Herramienta -->
              <label class="mt-3" for="inlineFormInputGroup"><strong>Kit de Herramientas</strong></label>
              <div class="form-group text-center">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="kitherramientas" id="optionSiKitH" value="Si" [(ngModel)]="kitherram" #kitHs="ngModel">
                    <label class="form-check-label" for="optionSiKitH" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="kitherramientas" id="optionNoKitH" value="No" [(ngModel)]="kitherram" #kitHs="ngModel">
                    <label class="form-check-label" for="optionNoKitH" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                  </div>
              </div>
              <hr style="background-color: #f7b633">
            </div>
              <!-- Tercera Columna -->
            <div class="col-md-3 mx-auto">
              <!-- Llantas -->
                <label class="" for="inlineFormInputGroup"><strong>Llantas</strong></label>
                <div class="form-group text-center">
                  <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="llantas" id="OptionSiLLantas" value="Si" [(ngModel)]="llantas" #llantass="ngModel">
                      <label class="form-check-label" for="OptionSiLLantas" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="llantas" id="OptionNoLLantas" value="No" [(ngModel)]="llantas" #llantass="ngModel">
                      <label class="form-check-label" for="OptionNoLLantas" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                    </div>
                </div>
                <hr style="background-color: #f7b633">
              <!-- LLanta de Refaccion-->
                <label class="mt-3" for="inlineFormInputGroup"><strong>Llanta Refacción</strong></label>
                <div class="form-group text-center">
                  <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="refaccion" id="OptionSiLLRef" value="Si" [(ngModel)]="llantaref" #LLRefs="ngModel">
                      <label class="form-check-label" for="OptionSiLLRef" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="refaccion" id="OptionNoLLRef" value="No" [(ngModel)]="llantaref" #LLRefs="ngModel">
                      <label class="form-check-label" for="OptionNoLLRef" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                    </div>
                </div>
                <hr style="background-color: #f7b633">
              <!-- Gato -->
                <label class="mt-3" for="inlineFormInputGroup"><strong>Gato</strong></label>
                <div class="form-group text-center">
                  <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="gato" id="OptionSiGto" value="Si" [(ngModel)]="gato" #Gtos="ngModel">
                      <label class="form-check-label" for="OptionSiGto" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="gato" id="OptionNoGto" value="No" [(ngModel)]="gato" #Gtos="ngModel">
                      <label class="form-check-label" for="OptionNoGto" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                    </div>
                </div>
                <hr style="background-color: #f7b633">
              <!-- Tapon de Llanta -->
                <label class="mt-3" for="inlineFormInputGroup"><strong>Tapón de Llanta</strong></label>
                <div class="form-group text-center">
                  <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="taponllanta" id="OptionSiTpLLnts" value="Si" [(ngModel)]="taponllanta" #TpLLnts="ngModel">
                      <label class="form-check-label" for="OptionSiTpLLnts" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="taponllanta" id="OptionNoTpLLnts" value="No" [(ngModel)]="taponllanta" #TpLLnts="ngModel">
                      <label class="form-check-label" for="OptionNoTpLLnts" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                    </div>
                </div>
                <hr style="background-color: #f7b633">
              <!-- Seguro de Ruedas -->
                <label class="mt-3" for="inlineFormInputGroup"><strong>Seguro de ruedas</strong></label>
                <div class="form-group text-center">
                  <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="segurorueda" id="OptionSiSgrRuedas" value="Si" [(ngModel)]="segurorueda" #SgrRueda="ngModel">
                      <label class="form-check-label" for="OptionSiSgrRuedas" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="segurorueda" id="OptionNoSgrRuedas" value="No" [(ngModel)]="segurorueda" #SgrRueda="ngModel">
                      <label class="form-check-label" for="OptionNoSgrRuedas" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                    </div>
                </div>
                <hr style="background-color: #f7b633">
              <!-- Tapón Gasolina -->
                <label class="mt-3" for="inlineFormInputGroup"><strong>Tapón Gasolina</strong></label>
                <div class="form-group text-center">
                  <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="tapongas" id="OptionSiTpnGas" value="Si" [(ngModel)]="tapongas" #TpnGaso="ngModel">
                      <label class="form-check-label" for="OptionSiTpnGas" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="tapongas" id="OptionNoTpnGas" value="No" [(ngModel)]="tapongas" #TpnGaso="ngModel">
                      <label class="form-check-label" for="OptionNoTpnGas" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                    </div>
                </div>
                <hr style="background-color: #f7b633">
            </div>
          <!-- Cuarta Columna -->
            <div class="col-md-3 mx-auto">
            <!-- Orden de Servicio -->
              <label class="" for="inlineFormInputGroup"><strong>Traé orden de servicio</strong></label>
              <div class="form-group text-center">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="ordenservicio" id="OptionSiSERV" value="Si" [(ngModel)]="ordenservicio" #SERVs="ngModel">
                    <label class="form-check-label" for="OptionSiSERV" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="ordenservicio" id="OptionNoSERV" value="No" [(ngModel)]="ordenservicio" #SERVs="ngModel">
                    <label class="form-check-label" for="OptionNoSERV" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                  </div>
              </div>
              <hr style="background-color: #f7b633">
              <!-- Vestiduras-->
              <label class="mt-3" for="inlineFormInputGroup"><strong>Vestiduras</strong></label>
              <div class="form-group text-center">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="vestidura" id="OptionSiVST" value="Si" [(ngModel)]="vestiduras" #VSTs="ngModel">
                    <label class="form-check-label" for="OptionSiVST" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="vestidura" id="OptionNoVST" value="No" [(ngModel)]="vestiduras" #VSTs="ngModel">
                    <label class="form-check-label" for="OptionNoVST" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                  </div>
              </div>
              <hr style="background-color: #f7b633">
              <!-- Tapetes -->
              <label class="mt-3" for="inlineFormInputGroup"><strong>Tapetes</strong></label>
              <div class="form-group text-center">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="tapetes" id="OptionSiTpts" value="Si" [(ngModel)]="tapetes" #Tptse="ngModel">
                    <label class="form-check-label" for="OptionSiTpts" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="tapetes" id="OptionNoTpts" value="No" [(ngModel)]="tapetes" #Tptse="ngModel">
                    <label class="form-check-label" for="OptionNoTpts" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                  </div>
              </div>
              <hr style="background-color: #f7b633">
              <!-- Extintor -->
              <label class="mt-3" for="inlineFormInputGroup"><strong>Extintor</strong></label>
              <div class="form-group text-center">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="extintor" id="OptionSiExt" value="Si" [(ngModel)]="extintor" #Exts="ngModel">
                    <label class="form-check-label" for="OptionSiExt" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="extintor" id="OptionNoExt" value="No" [(ngModel)]="extintor" #Exts="ngModel">
                    <label class="form-check-label" for="OptionNoExt" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                  </div>
              </div>
              <hr style="background-color: #f7b633">
              <!-- Señales -->
              <label class="mt-3" for="inlineFormInputGroup"><strong>Señales</strong></label>
              <div class="form-group text-center">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="senales" id="OptionSiSNLS" value="Si" [(ngModel)]="senal" #SNLSl="ngModel">
                    <label class="form-check-label" for="OptionSiSNLS" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="senales" id="OptionNoSNLS" value="No" [(ngModel)]="senal" #SNLSl="ngModel">
                    <label class="form-check-label" for="OptionNoSNLS" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                  </div>
              </div>
              <hr style="background-color: #f7b633">
              <!-- Radio -->
              <label class="mt-3" for="inlineFormInputGroup"><strong>Radio </strong></label>
              <div class="form-group text-center">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radio" id="OptionSiRadio" value="Si" [(ngModel)]="radio" #Radios="ngModel">
                    <label class="form-check-label" for="OptionSiRadio" style="font-size: 1rem"><fa-icon [icon]="faYes"></fa-icon><strong></strong></label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radio" id="OptionNoRadio" value="No" [(ngModel)]="radio" #Radios="ngModel">
                    <label class="form-check-label" for="OptionNoRadio" style="font-size: 1rem"><fa-icon [icon]="faNo"></fa-icon><strong></strong></label>
                  </div>
              </div>
              <hr style="background-color: #f7b633">
            </div>
          </div>
        </div>
    </div><br>
    <hr style="background-color: #f7b633">
    <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-lg" style="background-color: #1a3263; color: #f7b633">Comentarios</span>
        </div>
        <input type="text" class="form-control" aria-label="Comentarios" aria-describedby="inputGroup-sizing-lg" name="Comentarios" id="coment"  [(ngModel)]="comentarios" #comentario="ngModel">
    </div>
    <hr style="background-color: #f7b633">
    <!-- Envió formulario Llenado completo-->
        <button type="submit" class="btn btn-primary btn-block btn-lg mb-2" style="font-size: 1rem" value="Guardar" ><strong>Ingresar</strong></button>
      </form>
    </div>
  </div>
</div>

<br><br><br>
<!-- Footer -->
<app-footer></app-footer>