<div class="card col-md-3 mx-auto mt-3">
  <div class="card-header text-center">
          <img class="jumbotron-img-top img-fluid" src="https://image.ibb.co/dtvt3L/casanova-renta-de-autos-24.jpg" alt="casanova-renta-de-autos-24">
      </div>
</div>
<br><br>

<div class="card col-md-6 mx-auto">
    <div class="card-deck">
        <div class="card text-center mx-auto">
          <div class="card-body" style="color: rgb(29, 29, 126)" routerLinkActive="active-link" routerLink="/express">
            <fa-icon [icon]="faCarCrash" class="fa-5x mt-3"></fa-icon>
            <h5 class="card-title"><strong>Servicio Express</strong></h5>
          </div>
        </div>
        <div class="card text-center mx-auto" style="color: rgb(216, 14, 14)" routerLinkActive="active-link" routerLink="/reparacion">
          <div class="card-body">
            <fa-icon [icon]="faToolbox" class="fa-5x mt-3"></fa-icon>
            <h5 class="card-title"><strong>Reparacion</strong></h5>
          </div>
        </div>
        <div class="card text-center mx-auto" style="color: rgb(110, 0, 110)" routerLinkActive="active-link" routerLink="/tramite">
          <div class="card-body">
            <fa-icon [icon]="faNewspaper" class="fa-5x mt-3"></fa-icon>
            <h5 class="card-title"><strong>Tramite</strong></h5>
          </div>
        </div>
      </div>
</div>
<br>
  <div class="col-md-4 card text-white mb-3 mx-auto" style="max-width: 30rem; background-color: rgb(29, 29, 126)">
    <div class="card-body">
      <h4 class="card-title"><strong>Muchas Gracias <fa-icon [icon]="faExclamation"></fa-icon><fa-icon [icon]="faExclamation"></fa-icon></strong></h4>
      <p class="card-text text-center">Para nosotros es muy importante tu opinion, seguimos mejorando para ti</p>
    </div>
  </div>

   
