<app-navbar></app-navbar>
<div class="col-md-3 mx-auto mt-5">
    <form>
        <div class="card mb-3 text-center" style="max-width: 20rem; background-color: #2a206f">
                <div class="card-header">
                    <img class="card-img-top" src="https://image.ibb.co/f9kjuf/EVALogo.png" alt="casanova-renta-de-autos-24">
                </div>
                <form action="get">
                    <div class="card-header form-group text-white">
                        <p>Numero de Empleado</p>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><fa-icon [icon]="faAddressCard"></fa-icon></span>
                          </div>
                          <input type="text" class="form-control" placeholder="1234">
                        </div>
                      </div>
                      <div class="card-header form-group text-white">
                        <p>Contraseña</p>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><fa-icon [icon]="faKey"></fa-icon></span>
                          </div>
                          <input type="password" class="form-control" placeholder="********">
                        </div>
                      </div>
                    <a class="btn btn-warning text-center btn-block" routerLinkActive="active-Link" routerLink="/admin"><fa-icon [icon]="faSignInAlt" class="fa-2x"></fa-icon><h6> Ingresar</h6></a>
                </form>
        </div>
    </form>
</div>