<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2a206f ;">
        <img src="https://image.ibb.co/f9kjuf/EVALogo.png" class="navbar-brand" alt="EVALogo" style="width: 15%;">
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="/home">
                      <fa-icon [icon]="faHome" class="fa-2x"></fa-icon>
                      <span class="sr-only">(current)</span>
                      Encuesta nueva
                    </a>
                  </li>
                  <li class="nav-item" *ngIf="isLogin">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="/admin">
                      <fa-icon [icon]="faChartLine" class="fa-2x"></fa-icon>
                      <strong>Regresar a Reportes</strong>
                    </a>
                  </li>
            </ul>
          </div>
      </nav>