<!-- NAVBAR -->
<app-navbar></app-navbar>
<!-- Contenido -->

<div class="card col-md-2 mt-3 ml-1 text-white text-center form-inline" style="background-color: #1a3263"><fa-icon [icon]="faCarCrash" class="fa-2x"></fa-icon><strong><h2>SEVS - Taller - Consulta</h2></strong></div>
<div class="row">
  <div class="col-md-12">
      <div class="card mt-3 ml-1 text-white text-center" style="background-color: #1a3263"><strong><h2>Resumen de Reportes</h2></strong></div>
          <div class="mat-elevation-z8">
          <mat-form-field class="ml-3">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Busqueda...">
          </mat-form-field>
          <mat-table #table [dataSource]="dataSource" matSort>
          
            <ng-container matColumnDef="Folio Encuesta">
              <mat-header-cell *matHeaderCellDef> Folio </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Fecha Entrada">
              <mat-header-cell *matHeaderCellDef> Fecha Entrada </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.fechaent}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Fecha Salida">
              <mat-header-cell *matHeaderCellDef> Fecha Entrada </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.fechasal}} </mat-cell>
            </ng-container> 

            <ng-container matColumnDef="Placa">
              <mat-header-cell *matHeaderCellDef> Placa </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.placa | uppercase }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Servicio">
              <mat-header-cell *matHeaderCellDef> Servicio </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.tipo | uppercase }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Asesor">
              <mat-header-cell *matHeaderCellDef> Asesor </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.asesor | titlecase}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Cliente">
              <mat-header-cell *matHeaderCellDef> Cliente </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.NombreCliente | titlecase }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Calificacion">
              <mat-header-cell *matHeaderCellDef> Calificacion </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.total | titlecase }} </mat-cell>
            </ng-container>
                  
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator #paginator
            [length]="dataSource.filteredData.length"
            [pageIndex]="0"
            [pageSize]="25">
          </mat-paginator>
        </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 mx-auto">
    <div class="card mt-3 ml-1 text-white text-center" style="background-color: #1a3263"><strong><h2>Exportar Información</h2></strong></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <form >
        <div class="row">
            <div class="col-md-2 ml-1">
              <!-- Fecha de Entrada -->
              <div class="form-group">
                <label><strong>Fecha Inicial</strong></label><br>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text" style="color: #f7b633; background-color: #1a3263"><fa-icon [icon]="faCar"></fa-icon></div>
                  </div>
                <input type="date" class="form-control text-center" id="inputfe" placeholder="Fecha Entrada" name="fechaent" [(ngModel)]="fechaent" #fechaents="ngModel">
                </div>
              </div>
            </div>
            <div class="col-md-2">
            <!-- Fecha de Salida -->
              <div class="form-group">
                  <label><strong>Fecha Fin</strong></label><br>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text" style="color: #f7b633; background-color: #1a3263"><fa-icon [icon]="faCar"></fa-icon></div>
                    </div>
                    <input type="date" class="form-control text-center" id="inputfs" placeholder="Fecha Salida" name="fechasal" [(ngModel)]="fechasal" #fechasals="ngModel">
                  </div>
              </div>
            </div>
            <div class="col-md-2">
              <!-- Fecha de Salida -->
                <div class="form-group">
                    <label><strong>Folio</strong></label><br>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text" style="color: #f7b633; background-color: #1a3263"><fa-icon [icon]="faCar"></fa-icon></div>
                      </div>
                      <input type="text" class="form-control text-center" id="PLACAS" placeholder="PLACA" (keyup)="myFunction2($event.target.value)">
                    </div>
                </div>
              </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary btn-block btn-lg mb-2 mt-4" style="font-size: 1rem" value="Guardar" (click)="myFunction()"><strong>Generar Reporte</strong></button>
              <button class="btn btn-primary btn-block" style="font-size: 1rem" (click)="exportAs('xlsx')"><strong>Exportar Excel</strong></button>
            </div>
          </div>
        </form>
      <div class="card-body"><!-- LLenado de la tabla atravez de un for-->
        <table  class="table table-sm table-bordered text-center" id="mytable5">
          <thead>
            <tr>
              <th scope="col">FOLIO</th>
              <th scope="col">TIPO DE SERVICIO</th>

              <th scope="col" >PLACA</th>
              <th scope="col" hidden>VEHICULO</th>
              <th scope="col" hidden>MARCA</th>
              <th scope="col" hidden>COMBUSTIBLE</th>
              <th scope="col" hidden># SERIE</th>
              <th scope="col" hidden>KM</th>
              <th scope="col" hidden>AÑO</th>

              <th scope="col" hidden>NOMBRECLIENTE</th>
              <th scope="col" hidden>CORREOCLIENTE</th>
              <th scope="col" hidden>NUMEROCLIENTE</th>
              <th scope="col" hidden>CLIENTE</th>
              

              <th scope="col" hidden>ADMIN FLOTA</th>
              <th scope="col" hidden>ASESOR</th>

              <th scope="col">ENTRADA</th>
              <th scope="col">SALIDA</th>          
              <th scope="col" hidden>SOL. DIAG.</th>
              <th scope="col" hidden>T. SOLICITADO</th>
              <th scope="col" hidden>T. REALIZADO</th>
              <th scope="col">ESTATUS</th>
              <th scope="col">TECNICO</th>

              <th scope="col" hidden>TARJETA CIRCULACION</th>
              <th scope="col" hidden>ANTENA</th>
              <th scope="col" hidden>CONTROL Y LLAVE</th>
              <th scope="col" hidden>LLAVE TUERCAS</th>
              <th scope="col" hidden>KIT DE HERRAMIENTAS</th>
              <th scope="col" hidden>LLANTAS</th>
              <th scope="col" hidden>REFACCION</th>
              <th scope="col" hidden>GATO</th>
              <th scope="col" hidden>TAPON LLANTA</th>
              <th scope="col" hidden>SEGURO RUEDAS</th>
              <th scope="col" hidden>TAPON GASO</th>
              <th scope="col" hidden>ORDEN DE SERVICIO</th>
              <th scope="col" hidden>VESTIDURAS</th>
              <th scope="col" hidden>TAPETES</th>
              <th scope="col" hidden>EXTINTOR</th> 
              <th scope="col" hidden>SEÑALES</th>
              <th scope="col" hidden>RADIO</th>
              <th scope="col">COMENTARIOS</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let controlService of listado | async">
              <th scope="row">{{controlService.id}}</th>
              <td>{{controlService.tipo}}</td>

              <td >{{controlService.placa}}</td>
              <td hidden>{{controlService.vehiculo}}</td>
              <td hidden>{{controlService.marca}}</td>
              <td hidden>{{controlService.combustible}}</td>
              <td hidden>{{controlService.numserie}}</td>
              <td hidden>{{controlService.kilometraje}}</td>
              <td hidden>{{controlService.anio}}</td>

              <td hidden>{{controlService.NombreCliente}}</td>
              <td hidden>{{controlService.CorreoCliente}}</td>
              <td hidden>{{controlService.NumeroCliente}}</td>
              <td hidden>{{controlService.cliente}}</td>

              <td hidden>{{controlService.Administrador}}</td>
              <td hidden>{{controlService.asesor}}</td>

              <td>{{controlService.fechaent}}</td>
              <td>{{controlService.fechasal}}</td>
              <td hidden>{{controlService.Diagnostico}}</td>
              <td hidden>{{controlService.Solicta}}</td>
              <td hidden>{{controlService.Trabajorealizado}}</td>
              <td>{{controlService.Estatus}}</td>
              <td>{{controlService.Tecnico}}</td>

              <td hidden>{{controlService.tarjetacirculacion}}</td>
              <td hidden>{{controlService.antena}}</td>
              <td hidden>{{controlService.controlllave}}</td>
              <td hidden>{{controlService.llavetuerc}}</td>
              <td hidden>{{controlService.kitherram}}</td>
              <td hidden>{{controlService.llantas}}</td>
              <td hidden>{{controlService.llantaref}}</td>
              <td hidden>{{controlService.gato}}</td>
              <td hidden>{{controlService.taponllanta}}</td>
              <td hidden>{{controlService.segurorueda}}</td>
              <td hidden>{{controlService.tapongas}}</td>
              <td hidden>{{controlService.ordenservicio}}</td>
              <td hidden>{{controlService.vestiduras}}</td>
              <td hidden>{{controlService.tapetes}}</td>
              <td hidden>{{controlService.extintor}}</td>
              <td hidden>{{controlService.senal}}</td>
              <td hidden>{{controlService.radio}}</td>

              <td>{{controlService.comentarios}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<br><br><br>
<!-- Footer -->
<app-footer></app-footer>