<!-- NAVBAR -->
<app-navbar></app-navbar>
<!-- Contenido -->
<div class="card col-md-2 mt-3 ml-1 text-white text-center form-inline" style="background-color: #1a3263"><fa-icon [icon]="faCarCrash" class="fa-2x"></fa-icon><strong><h2>SEVS - Taller - Consulta</h2></strong></div>
<div class="row">
  <div class="col-md-10">
      <div class="card mt-3 ml-1 text-white text-center" style="background-color: #1a3263"><strong><h2>Resumen de Reportes</h2></strong></div>
      <div class="card">
          <div class="card-body text-center">
            <ngx-datatable
              class="material"
              [headerHeight]="35"
              [columnMode]="'force'"
              [rowHeight]="'auto'"
              [footerHeight]="30"
              [count]="true"
              [limit]="10"
              [rows]="rows1"
              >
              <ngx-datatable-column name="Folio">
              <ng-template ngx-datatable-cell-template let-value="value">
                  {{value}}
              </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Servicio">
              <ng-template ngx-datatable-cell-template let-value="value">
                  {{value}}
              </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Fecha de Ingreso">
                <ng-template ngx-datatable-cell-template let-value="value">
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Fecha de Salida">
              <ng-template ngx-datatable-cell-template let-value="value">
                  {{value}}
              </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Solicitud de Diagnostico">
              <ng-template ngx-datatable-cell-template let-value="value">
                  {{value}}
              </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Origen Cliente">
                <ng-template ngx-datatable-cell-template let-value="value">
                    {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Cliente">
                <ng-template ngx-datatable-cell-template let-value="value">
                    {{value}}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
      </div>
  </div>
  <div class="col-md-2">
      <div class="card mt-3 text-white text-center form-inline" style="background-color: #1a3263"><fa-icon [icon]="faPrint" class="fa-2x"></fa-icon></div>
      <div class="card-body">
        <button type="button" class="btn btn-primary btn-lg btn-block"><strong>Exportar a Excel</strong></button>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <div class="card mt-3 ml-1 text-white text-center" style="background-color: #1a3263"><strong><h2>Comentarios</h2></strong></div>
    <div class="card-body">

    </div>
  </div>
</div>