<div class="card col-md-3 mx-auto mt-3">
  <div class="card-header text-center">
          <img class="jumbotron-img-top img-fluid" src="https://i.ibb.co/kqjK0Y5/SEVSCASANOVA.png " alt="casanova-renta-de-autos-24">
      </div>
 </div>
 <br><br>
  
  <div class="alert alert-dismissible alert-success col-md-3 mx-auto">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong class="text-center">Muchas Gracias!!!,</strong>
    <p class="text-center">Tus respuestas han sido enviadas</p>
    <p class="text-left">Siempre estamos trabajando para mejorar nuestra atencion, porfavor regresa el dispositivo a nuestro personal</p>
  </div>