<!-- Nav bar para encuesta-->
<app-encuesta></app-encuesta>
<!-- Fomularios para encuesta Express-->

<!-- <form #formGuardar="ngForm" (ngSubmit)="onGuardarEncuesta(formGuardar)">
<mat-horizontal-stepper [linear]="isLinear" class="container col-md-6 mx-auto mt-5"> 
    <mat-step [stepControl]="firstFormGroup" class="justify-content-center" editable="false">                 
        <div class="card text-center mx-auto"><strong>El tiempo que transcurrió para que lo atendieran fue:</strong></div><br>
            <div class="text-center">
                <button id="pregunta1" name="pregunta1" type="button" [(ngModel)]="Encuesta.pregunta1" #pregunta1="ngModel" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext matInput value="1"><fa-icon [icon]="faTired" class="fa-6x" style="color: red"></fa-icon></button>
                <button id="pregunta1" name="pregunta1" type="button" [(ngModel)]="Encuesta.pregunta1" #pregunta1="ngModel" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext matInput value="2"><fa-icon [icon]="faSadTear" class="fa-6x" style="color: orange"></fa-icon></button>
                <button id="pregunta1" name="pregunta1" type="button" [(ngModel)]="Encuesta.pregunta1" #pregunta1="ngModel" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext matInput value="3"><fa-icon [icon]="faMeh" class="fa-6x" style="color: rgb(206, 206, 12)"></fa-icon></button>
                <button id="pregunta1" name="pregunta1" type="button" [(ngModel)]="Encuesta.pregunta1" #pregunta1="ngModel" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext matInput value="4"><fa-icon [icon]="faGrin" class="fa-6x" style="color: yellowgreen"></fa-icon></button>
                <button id="pregunta1" name="pregunta1" type="button" [(ngModel)]="Encuesta.pregunta1" #pregunta1="ngModel" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext matInput value="5"><fa-icon [icon]="faSmileBeam" class="fa-6x" style="color: green"></fa-icon></button>
            </div>
    </mat-step>              
                                   
               <mat-step [stepControl]="secondFormGroup" class="justify-content-center" editable="false">
                    
                    <ng-template matStepLabel></ng-template>
                    <div class="card text-center mx-auto"><strong>Después de realizado el diagnóstico del vehiculo, ¿se le proporcionó la información detallada del trabajo a realizar y el tiempo estimado de entrega?</strong></div><br>
                        <button id="pregunta2" name="pregunta2" type="button" [(ngModel)]="Encuesta.pregunta2" #pregunta1="ngModel" class="btn btn-outline-secondary mr-5" mat-button mat-raised-button matStepperNext matInput value="10"><fa-icon [icon]="faCheckSquare" class="fa-7x" style="color: green"></fa-icon></button>
                        <button id="pregunta2" name="pregunta2" type="button" [(ngModel)]="Encuesta.pregunta2" #pregunta1="ngModel" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="5"><fa-icon [icon]="faTimesCircle" class="fa-7x" style="color: red"></fa-icon></button>
                   
                </mat-step>
                <mat-step [stepControl]="thirdFormGroup" class="justify-content-center" editable="false">
                    
                    <ng-template matStepLabel></ng-template>
                    <div class="card text-center mx-auto col-md-9"><strong>El tiempo que transcurrió para la entrega de su vehiculo fue:</strong></div><br>
                        <button id="pregunta3" name="pregunta3" type="button" [(ngModel)]="Encuesta.pregunta3" #pregunta1="ngModel" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="10"><fa-icon [icon]="faHourglassStart" class="fa-7x" style="color: green"></fa-icon><strong style="color: black">1-2 Hrs</strong></button>
                        <button id="pregunta3" name="pregunta3" type="button" [(ngModel)]="Encuesta.pregunta3" #pregunta1="ngModel" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="5"><fa-icon [icon]="faHourglassHalf" class="fa-7x" style="color: rgb(206, 206, 12)"></fa-icon><strong style="color: black">2-3 Hrs</strong></button>
                        <button id="pregunta3" name="pregunta3" type="button" [(ngModel)]="Encuesta.pregunta3" #pregunta1="ngModel" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="0"><fa-icon [icon]="faHourglassEnd" class="fa-7x" style="color: red"></fa-icon><strong style="color: black">3 o + Hrs</strong></button>
              
                </mat-step>
                <mat-step [stepControl]="fourthFormGroup" class="justify-content-center" editable="false">
                   
                    <ng-template matStepLabel></ng-template>
                    <div class="card text-center mx-auto"><strong>¿Como calificaría la imagen de nuestras instalaciones?</strong></div><br>
                    <div class="text-center">
                        <button id="pregunta4" name="pregunta4" type="button" [(ngModel)]="Encuesta.pregunta4" #pregunta1="ngModel"  class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext matInput value="1"><fa-icon [icon]="faTired" class="fa-6x" style="color: red"></fa-icon></button>
                        <button id="pregunta4" name="pregunta4" type="button" [(ngModel)]="Encuesta.pregunta4" #pregunta1="ngModel"  class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext matInput value="2"><fa-icon [icon]="faSadTear" class="fa-6x" style="color: orange"></fa-icon></button>
                        <button id="pregunta4" name="pregunta4" type="button" [(ngModel)]="Encuesta.pregunta4" #pregunta1="ngModel"  class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext matInput value="3"><fa-icon [icon]="faMeh" class="fa-6x" style="color: rgb(206, 206, 12)"></fa-icon></button>
                        <button id="pregunta4" name="pregunta4" type="button" [(ngModel)]="Encuesta.pregunta4" #pregunta1="ngModel"  class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext matInput value="4"><fa-icon [icon]="faGrin" class="fa-6x" style="color: yellowgreen"></fa-icon></button>
                        <button id="pregunta4" name="pregunta4" type="button" [(ngModel)]="Encuesta.pregunta4" #pregunta1="ngModel"  class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext matInput value="5"><fa-icon [icon]="faSmileBeam" class="fa-6x" style="color: green"></fa-icon></button>
                    </div>
                    
                </mat-step>
                <mat-step [stepControl]="fifthFormGroup" class="justify-content-center" editable="false">
                   
                    <ng-template matStepLabel></ng-template>
                    <div class="card text-center mx-auto"><strong>La atención que recibío de nuestro asesor de servicio fue:</strong></div><br>
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext matInput value="1"><fa-icon [icon]="faTired" class="fa-6x" style="color: red"></fa-icon></button>
                        <button type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext matInput value="2"><fa-icon [icon]="faSadTear" class="fa-6x" style="color: orange"></fa-icon></button>
                        <button type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext matInput value="3"><fa-icon [icon]="faMeh" class="fa-6x" style="color: rgb(206, 206, 12)"></fa-icon></button>
                        <button type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext matInput value="4"><fa-icon [icon]="faGrin" class="fa-6x" style="color: yellowgreen"></fa-icon></button>
                        <button type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext matInput value="5"><fa-icon [icon]="faSmileBeam" class="fa-6x" style="color: green"></fa-icon></button>
                    </div>
                   
                </mat-step>
                <mat-step [stepControl]="sixFormGroup" class="justify-content-center" editable="false">
                   
                    <ng-template matStepLabel></ng-template>
                    <div class="card text-center mx-auto"><strong>Considera que la imagen de nuestro asesor de servicio es:</strong></div><br>
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext matInput value="1"><fa-icon [icon]="faTired" class="fa-6x" style="color: red"></fa-icon></button>
                        <button type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext matInput value="2"><fa-icon [icon]="faSadTear" class="fa-6x" style="color: orange"></fa-icon></button>
                        <button type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext matInput value="3"><fa-icon [icon]="faMeh" class="fa-6x" style="color: rgb(206, 206, 12)"></fa-icon></button>
                        <button type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext matInput value="4"><fa-icon [icon]="faGrin" class="fa-6x" style="color: yellowgreen"></fa-icon></button>
                        <button type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext matInput value="5"><fa-icon [icon]="faSmileBeam" class="fa-6x" style="color: green"></fa-icon></button>
                    </div>
                   
                </mat-step>
                <mat-step [stepControl]="sevenFormGroup" class="justify-content-center" editable="false">
                    
                    <ng-template matStepLabel></ng-template>
                    <div class="card text-center mx-auto"><strong>Le entregaron su vehiculo:</strong></div><br>
                        <button type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="10"><fa-icon [icon]="faSmileBeam" class="fa-7x" style="color: green"></fa-icon><strong style="color: black">limpio</strong></button>
                        <button type="button" class="btn btnhjmyi7'8888888888888888n-outline-secondary" mat-button mat-raised-button matStepperNext matInput value="5"><fa-icon [icon]="faTired" class="fa-7x" style="color: red"></fa-icon><strong style="color: black">sucio</strong></button>
                   
                </mat-step>
                <mat-step [stepControl]="eightFormGroup" class="justify-content-center" editable="false">
                    
                    <ng-template matStepLabel></ng-template>
                    <div class="card text-center mx-auto"><strong>La experiencia en general de su visita a Casanova fue?</strong></div><br>
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext matInput value="1"><fa-icon [icon]="faTired" class="fa-6x" style="color: red"></fa-icon></button>
                        <button type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext matInput value="2"><fa-icon [icon]="faSadTear" class="fa-6x" style="color: orange"></fa-icon></button>
                        <button type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext matInput value="3"><fa-icon [icon]="faMeh" class="fa-6x" style="color: rgb(206, 206, 12)"></fa-icon></button>
                        <button type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext matInput value="4"><fa-icon [icon]="faGrin" class="fa-6x" style="color: yellowgreen"></fa-icon></button>
                        <button type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext matInput value="5"><fa-icon [icon]="faSmileBeam" class="fa-6x" style="color: green"></fa-icon></button>
                    </div>
                </mat-step>
                <mat-step class="justify-content-center"> 
                    <ng-template matStepLabel></ng-template>
                    Gracias
                </mat-step>
</mat-horizontal-stepper>
</form> -->


<mat-horizontal-stepper>
        <mat-step state="start" editable="false" class="mt-5">
            <div class="text-center"><h2><strong>El tiempo que transcurrió para que lo atendieran fue:</strong></h2></div>
            <form>
            <div class="text-center mt-3">
                <button id="pregunta1" name="pregunta1" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext value="1" (click)="p1ex(1)"><fa-icon [icon]="faTired" class="fa-6x" style="color: red"></fa-icon></button>
                <button id="pregunta1" name="pregunta1" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext value="2" (click)="p1ex(2)"><fa-icon [icon]="faSadTear" class="fa-6x" style="color: orange"></fa-icon></button>
                <button id="pregunta1" name="pregunta1" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext value="3" (click)="p1ex(3)"><fa-icon [icon]="faMeh" class="fa-6x" style="color: rgb(206, 206, 12)"></fa-icon></button>
                <button id="pregunta1" name="pregunta1" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext value="4" (click)="p1ex(4)"><fa-icon [icon]="faGrin" class="fa-6x" style="color: yellowgreen"></fa-icon></button>
                <button id="pregunta1" name="pregunta1" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext value="5" (click)="p1ex(5)"><fa-icon [icon]="faSmileBeam" class="fa-6x" style="color: green"></fa-icon></button>
            </div>
            </form>
        </mat-step>
        <mat-step state="start" editable="false">
            <div class="text-center"><h2><strong>Después de realizado el diagnóstico del vehiculo, ¿se le proporcionó la información detallada del trabajo a realizar y el tiempo estimado de entrega?</strong></h2></div>
            <form>
            <div class="text-center mt-3">
                <button id="pregunta2" name="pregunta2" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext value="10" (click)="p2ex(10)"><fa-icon [icon]="faCheckSquare" class="fa-7x" style="color: green"></fa-icon></button>
                <button id="pregunta2" name="pregunta2" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext value="5" (click)="p2ex(5)"><fa-icon [icon]="faTimesCircle" class="fa-7x" style="color: red"></fa-icon></button>
            </div>
            </form>
        </mat-step>
        <mat-step state="middle" editable="false">
            <div class="text-center"><h2><strong>El tiempo que transcurrió para la entrega de su vehiculo fue:</strong></h2></div>
            <div class="text-center mt-3">
                <button id="pregunta3" name="pregunta3" type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext value="10" (click)="p3ex(10)"><fa-icon [icon]="faHourglassStart" class="fa-7x" style="color: green"></fa-icon><strong style="color: black">1-2 Hrs</strong></button>
                <button id="pregunta3" name="pregunta3" type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext value="5" (click)="p3ex(5)"><fa-icon [icon]="faHourglassHalf" class="fa-7x" style="color: rgb(206, 206, 12)"></fa-icon><strong style="color: black">2-3 Hrs</strong></button>
                <button id="pregunta3" name="pregunta3" type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext value="0" (click)="p3ex(0)"><fa-icon [icon]="faHourglassEnd" class="fa-7x" style="color: red"></fa-icon><strong style="color: black">3 o + Hrs</strong></button>
            </div>
        </mat-step>
        <mat-step state="middle" editable="false">
            <div class="text-center"><h2><strong>¿Como calificaria la imagen de nuestras instalaciones?</strong></h2></div>
            <div class="text-center mt-3">
                <button id="pregunta4" name="pregunta4" type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext value="1" (click)="p4ex(1)"><fa-icon [icon]="faTired" class="fa-6x" style="color: red"></fa-icon></button>
                <button id="pregunta4" name="pregunta4" type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext value="2" (click)="p4ex(2)"><fa-icon [icon]="faSadTear" class="fa-6x" style="color: orange"></fa-icon></button>
                <button id="pregunta4" name="pregunta4" type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext value="3" (click)="p4ex(3)"><fa-icon [icon]="faMeh" class="fa-6x" style="color: rgb(206, 206, 12)"></fa-icon></button>
                <button id="pregunta4" name="pregunta4" type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext value="4" (click)="p4ex(4)"><fa-icon [icon]="faGrin" class="fa-6x" style="color: yellowgreen"></fa-icon></button>
                <button id="pregunta4" name="pregunta4" type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext value="5" (click)="p4ex(5)"><fa-icon [icon]="faSmileBeam" class="fa-6x" style="color: green"></fa-icon></button>
            </div>
        </mat-step>
        <mat-step state="middle" editable="false">
            <div class="text-center"><h2><strong>La atencion que recibió de nuestro asesor de servicio fue...</strong></h2></div>
            <div class="text-center mt-3">
                <button id="pregunta5" name="pregunta5" type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext value="1" (click)="p5ex(1)"><fa-icon [icon]="faTired" class="fa-6x" style="color: red"></fa-icon></button>
                <button id="pregunta5" name="pregunta5" type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext value="2" (click)="p5ex(2)"><fa-icon [icon]="faSadTear" class="fa-6x" style="color: orange"></fa-icon></button>
                <button id="pregunta5" name="pregunta5" type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext value="3" (click)="p5ex(3)"><fa-icon [icon]="faMeh" class="fa-6x" style="color: rgb(206, 206, 12)"></fa-icon></button>
                <button id="pregunta5" name="pregunta5" type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext value="4" (click)="p5ex(4)"><fa-icon [icon]="faGrin" class="fa-6x" style="color: yellowgreen"></fa-icon></button>
                <button id="pregunta5" name="pregunta5" type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext value="5" (click)="p5ex(5)"><fa-icon [icon]="faSmileBeam" class="fa-6x" style="color: green"></fa-icon></button>
            </div>
        </mat-step>
        <mat-step state="middle" editable="false">
            <div class="text-center"><h2><strong>Considera que la imagen de nuestro asesor de servicio es...</strong></h2></div>
            <div class="text-center mt-3">
                <button id="pregunta6" name="pregunta6" type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext value="1" (click)="p6ex(1)"><fa-icon [icon]="faTired" class="fa-6x" style="color: red"></fa-icon></button>
                <button id="pregunta6" name="pregunta6" type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext value="2" (click)="p6ex(2)"><fa-icon [icon]="faSadTear" class="fa-6x" style="color: orange"></fa-icon></button>
                <button id="pregunta6" name="pregunta6" type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext value="3" (click)="p6ex(3)"><fa-icon [icon]="faMeh" class="fa-6x" style="color: rgb(206, 206, 12)"></fa-icon></button>
                <button id="pregunta6" name="pregunta6" type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext value="4" (click)="p6ex(4)"><fa-icon [icon]="faGrin" class="fa-6x" style="color: yellowgreen"></fa-icon></button>
                <button id="pregunta6" name="pregunta6" type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext value="5" (click)="p6ex(5)"><fa-icon [icon]="faSmileBeam" class="fa-6x" style="color: green"></fa-icon></button>
            </div>
        </mat-step>
        <mat-step state="finish" editable="false">
            <div class="text-center"><h2><strong>Le entregaron su vehiculo...</strong></h2></div>
            <div class="text-center mt-3">
                    <button id="pregunta7" name="pregunta7" type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext value="10" (click)="p7ex(10)"><fa-icon [icon]="faSmileBeam" class="fa-7x" style="color: green"></fa-icon><strong style="color: black">limpio</strong></button>
                    <button id="pregunta7" name="pregunta7" type="button" class="btn btn-outline-secondary" mat-button mat-raised-button matStepperNext value="5" (click)="p7ex(5)"><fa-icon [icon]="faTired" class="fa-7x" style="color: red"></fa-icon><strong style="color: black">sucio</strong></button>
            </div>     
        </mat-step>
        <mat-step state="finish" editable="false">
            <div class="text-center"><h2><strong>Considera que la imagen de nuestro asesor de servicio es...</strong></h2></div>
            <div class="text-center mt-3">
                <button id="pregunta8" name="pregunta8" type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext value="1" (click)="p8ex(1)"><fa-icon [icon]="faTired" class="fa-6x" style="color: red"></fa-icon></button>
                <button id="pregunta8" name="pregunta8" type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext value="2" (click)="p8ex(2)"><fa-icon [icon]="faSadTear" class="fa-6x" style="color: orange"></fa-icon></button>
                <button id="pregunta8" name="pregunta8" type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext value="3" (click)="p8ex(3)"><fa-icon [icon]="faMeh" class="fa-6x" style="color: rgb(206, 206, 12)"></fa-icon></button>
                <button id="pregunta8" name="pregunta8" type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext value="4" (click)="p8ex(4)"><fa-icon [icon]="faGrin" class="fa-6x" style="color: yellowgreen"></fa-icon></button>
                <button id="pregunta8" name="pregunta8" type="button" class="btn btn-outline-secondary col-md-2" mat-button mat-raised-button matStepperNext value="5" (click)="p8ex(5)"><fa-icon [icon]="faSmileBeam" class="fa-6x" style="color: green"></fa-icon></button>
            </div>
        </mat-step>
        <mat-step state="thanks" editable="false">
                <div class="col-md-5 mx-auto mt-5">
                    <form #formguardar="ngForm" (ngSubmit)="onGuardarEncuesta(formguardar)">
                        <div class="card mb-3" style="max-width: 20rem;" style="background-color: #2a206f">  
                            <div class="card-header text-center">
                                <img class="card-img-top" src="https://image.ibb.co/bCk0H0/Casanova-Logo.png" alt="casanova-renta-de-autos-24">
                            </div>
                            <div class="card-header text-center text-white"><h5><strong>¡¡Muchas gracias por tu evaluacion!!</strong></h5></div>
                            <div class="card-body text-center text-white form-group"><h5><strong>¡¡Tu opinion es muy importante para nosotros!!</strong></h5><br><h5><strong>Porfavor regresa el dispositivo a tu asesor mas cercano</strong></h5></div>
                                <button type="submit" value="Guardar" class="btn btn-warning text-center btn-block" ><fa-icon [icon]="faVoteYea" class="fa-2x"></fa-icon><h4>Nueva Encuesta</h4></button>
                        </div>
                    </form>
                </div>
        </mat-step>
      
        <!-- Icon overrides. -->
        <ng-template matStepperIcon="start">
          <mat-icon>star_border</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="middle">
          <mat-icon>star_half</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="finish">
          <mat-icon>star</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="thanks">
            <mat-icon>thumb_up</mat-icon>
        </ng-template>
</mat-horizontal-stepper>

<select name="id" class="form-control " [(ngModel)]="ident" #proveedor="ngModel"  >
    <option [ngValue]="encuestaService.iden" *ngFor="let encuestaService of nom | async"   >{{encuestaService.iden}}</option>
</select>



<app-navbardown></app-navbardown>
